<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form method="get" >
       <input name="ismi" type="text" placeholder="Kutubxonachi ismini yozing">
        <button>Qidirish</button>
    </form>
    <h1>Kutubxonachilar</h1>
    <br>
    {%for k in kutubxonachi%}
        <h2>{{k.id}}.{{k.ism}}</h2>
    {% endfor %}
    <br>
    <br>
    <form method="post">{%csrf_token%}
        {{ forma }}
<!--        <label>Ism</label>-->
<!--        <input type="text" name="ismi">-->
<!--        <label>Ish vaqt</label>-->
<!--        <select name="ish_vaqti">-->
<!--            <option>8 dan 17 gacha</option>-->
<!--            <option>17 dan 7 gacha</option>-->
<!--        </select>-->
        <button>Qoshish</button>
    </form>
</body>
</html>